CHAIN_ID_0=""
CHAIN_0_PORT_ADDR=""
RPC_ADDR_0="http://localhost:26657"
GRPC_ADDR_0="http://localhost:9090"
WEBSOCKET_ADDR_0="ws://localhost:26657/websocket"

CHAIN_ID_1=""
CHAIN_1_PORT_ADDR="icahost"
RPC_ADDR_1="http://localhost:26654"
GRPC_ADDR_1="http://localhost:9088"
WEBSOCKET_ADDR_1="ws://localhost:26654/websocket"
