[global]
log_level = 'info'

[mode]
[mode.clients]
enabled = true
refresh = true
misbehaviour = true
[mode.connections]
enabled = false
[mode.channels]
enabled = true
[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true
tx_confirmation = true
auto_register_counterparty_payee = false
[rest]
enabled = true
host = '0.0.0.0'
port = 6200


[telemetry]
enabled = true
host = '0.0.0.0'
port = 6300


[[chains]]
id = ''
ccv_consumer_chain = false
rpc_addr = ''
grpc_addr = ''
event_source = ''
rpc_timeout = '10s'
account_prefix = 'cudos'
key_name = ''
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 200000
max_gas = 10000000
gas_price = { price = 5000000000000, denom = 'acudos' }
gas_multiplier = 1.5
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '10s'
trusting_period = '5hours'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = ''


[[chains]]
id = ''
ccv_consumer_chain = false
rpc_addr = ''
grpc_addr = ''
event_source = ''
rpc_timeout = '15s'
account_prefix = 'cudos'
key_name = ''
store_prefix = 'ibc'
default_gas = 200000
max_gas = 10000000
gas_price = { price = 5000000000000, denom = 'acudos' }
gas_multiplier = 1.5
max_msg_num = 10
max_tx_size = 2097152
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '5hours'
trust_threshold = { numerator = '1', denominator = '3' }
address_type = { derivation = 'cosmos' }
